<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - Cooperative Financing</title>

    <!-- Link to Global CSS -->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<body>
    <div>
        @RenderBody() <!-- This will render page content -->
    </div>
</body>
</html>
