@model Cooperative_Financing.Models.ViewModels.PageViewModel

@{
    ViewData["Title"] = "Login";
}
@if (!string.IsNullOrEmpty(ViewBag.WelcomeMessage))
{
    <script>
        alert("@ViewBag.WelcomeMessage");
    </script>
}

@if (!string.IsNullOrEmpty(ViewBag.Error))
{
    <div style="color: red; font-weight: bold;">@ViewBag.Error</div>
}

<form asp-action="Login" method="post">
    <div class="login-container">
        <h2>COOPERATIVE FINANCING</h2>

        <label for="username">Username:</label>
        <input type="text" id="username" name="Username" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="Password" required>

        <a href="#" class="forgot-password">Forgot Password?</a>

        <button type="submit" class="btn-submit"
                style="background-color: darkcyan; color: white; padding: 10px 20px;
           border: none; border-radius: 20px; font-size: 1em;
           font-weight: bold; cursor: pointer;">
            Submit
        </button>

    </div>
</form>

