/* Login Page Styles */
body {
    background: linear-gradient(to right, #00C6FB, #FDEE99);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background: rgba(255, 255, 255, 0.2);
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
 
}

h2 {
    font-weight: bold;
    color: black;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
    font-size: 1.3em;
}

input {
    width: 80%;
    padding: 8px;
    border: none;
    border-radius: 5px;
    outline: none;
}

.forgot-password {
    display: block;
    margin-top: 10px;
    font-size: 1em;
}

.btn-submit {
    background-color: #00C6FB;
    border: none;
    padding: 10px 20px;
    margin-top: 15px;
    border-radius: 20px;
    color: white;
    font-size: 1em;
    cursor: pointer;
}

    .btn-submit:hover {
        background-color: #0288D1;
    }

body {
    background: linear-gradient(to right, #00C6FB, #FDEE99);
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
}

.sidebar {
    width: 20%;
    background: #008080;
    padding: 20px;
    min-height: 100vh;
}

    .sidebar h2 {
        color: white;
        text-align: center;
    }

.menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

    .menu button {
        width: 100%;
        padding: 15px;
        border: none;
        background-color: white;
        color: black;
        font-weight: bold;
        border-radius: 10px;
        cursor: pointer;
        text-align: center;
    }

    .menu .active {
        background-color: #2F9C95;
        color: white;
    }

.main-content {
    width: 80%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.box {
    width: 250px;
    height: 100px;
    background: gray;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-radius: 10px;
}

